* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
    background-size: cover;
	font-family: Arial, sans-serif;
    
}

#storename {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
	margin-left: 70px;	
    margin-right: 300px;
    position: absolute;
}

.nav-links {
    list-style: none;
    display: flex;
}   
 
header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
 
#search {
	padding: 6px;
	border: 2px solid black;
	margin-top: 8px;
	margin-left: 400px;
	font-size: 17px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 0 20px;
}
 
 
.nav-links {
    list-style: none;
    display: flex;
}
 
.nav-links li {
    margin-right: 20px;
}
 
.nav-links a {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
	transition: color 0.25s;
	position: relative;
	padding: 0.5rem 1rem;
}

.nav-links a:after {
    position: absolute;
	content: "";
	inset: 0;
	background: rgb(255, 255, 255);
	scale: 1 0;
	z-index: -1;
	transition: 0.1s;
	border-radius: 10px;
	
}
 
.nav-links a:hover {
    color: rgb(15, 15, 15);
}

.nav-links a:hover::after {
   scale: 1 1;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 20px;
    padding: 40px;
}

.product-card {
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 20px;
    margin: 15px 0;
    position: relative;
}

.product-card p {
    font-size: 20px;
    color: #f51a1a;
}

footer {
    background-color: #333;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 10px 0;
	font-size: 1rem;
    font-weight: bold;
	position: relative;
	bottom: 0;
	width: 100%;
}

 